node_modules/
.env
.DS_Store
dist/
build/
.expo/
*.log
coverage/
mobile/.expo/
mobile/android/app/build/
mobile/android/.gradle/
mobile/ios/Pods/
mobile/ios/build/
backend/config/firebase-service-account.json
